@media (max-width: 1100px) {
  body {
    width: auto;
    margin: 0 80px;
  }

  .add-button {
    font-size: 1.2rem;
  }

  .todo-add {
    padding: 10.5px 15px;
  }

  @media (max-width: 950px) {
    #todo-container h1 {
      font-size: 2rem;
    }

    .todo-add {
      padding: 7.5px 15px;
    }

    .add-button {
      font-size: 1.1rem;
      padding: 12px 20px;
    }

    .todo-buttons button,
    #delete-all {
      font-size: 0.8rem;
    }

    #task-input {
      font-size: 1.1rem;
    }

    .todo-input {
      height: 60px;
    }

    #task-input {
      height: 60px;
    }

    #date-input {
      height: 45px;
    }

    ::-webkit-calendar-picker-indicator {
      padding: 3px;
    }

    thead th {
      font-size: 1rem;
    }

    tbody #images img:nth-child(1) {
      width: 20px;
    }

    tbody #images img:nth-child(2) {
      width: 24px;
    }

    tbody #images img:nth-child(3) {
      width: 26px;
    }

    .customPh label {
      top: 18px;
font-size: 1rem;
font-weight: 300;
    }
  }
/* ------------------------------------------------------ */
  @media (max-width: 800px) {
    body {
      margin: 20px;
    }

    #hamburgure h1 {
      font-size: 2rem;
      margin-bottom: 40px;
      font-family: cursive;
    } 

    .todo-buttons button {
      display: none;
    }

    .todo-input {
      margin-bottom: 25px;
      height: 0;
      width: 100%;
      justify-content: space-between;
    }

    .customPh {
      width:80%;
    }

    .customPh label {
      top: 12px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 500;
      font-size: 0.9rem;
      color: gray;
    }

    .todo-add {
      width: 80px;
      border-radius: 5px;
      padding: 0 10px;
      padding-right: 0;
      background-color: #03071e;
    }

    .add-button, .edit-button {
      background-color: #ffc8dd;
      font-size: 0.9rem;
      padding: 13px 15px;
      width: 100%;
      border-radius: 10px;
      color: #03071e;
      font-family: cursive;
      margin: 0;
    }

    #task-input {
      height: 40px;
      width: 100%;
      padding: 22px 10px;
      border-radius: 5px;
      font-size: 0.9rem;
      font-weight: 400;
    }

    #date-input {
      height: 35px;
      border-radius: 5px;
      display: none;
    }

    .todo-add button {
      border-radius: 5px;
    }

    thead tr th {
      width: 80%;
      text-align: left;
    }

    thead tr th:last-child {
      text-align: center; 
      width: 20%;
    }

    tbody td {
      font-size: 0.9rem;
      text-align: left;
    }

    tbody td:last-child {
      text-align: right;
      width: 20%;
    }

    tbody td:first-child {
      width: 80%;
    }

    thead tr th:nth-child(2) {
      display: none;
    }

    #images img {
      margin-right: 5px;
    }

   tbody #images img:nth-child(1) {
width: 17px;
    }

   tbody #images img:nth-child(2) {
      width: 18px;
    }

   tbody #images img:nth-child(3) {
      margin-right: 0;
      width: 21px;
      padding-top: 2px;
    }

  
    tbody tr td:nth-child(2) {
      display: none;
    }

    #hamburger-img {
      display: block;
    }

    ::placeholder {
      font-size: 0.9rem;
    }

    .alert {
      font-weight: 400;
      font-size: 00.9rem;
      color: #f1faee;
    }
}
}
