@media (max-width: 1100px) {
  body {
    width: auto;
    margin: 0 80px;
  }

  .add-button {
    font-size: 1.2rem;
  }

  .todo-add {
    padding: 10.5px 15px;
  }

  @media (max-width: 950px) {
    #todo-container h1 {
      font-size: 2rem;
    }

    .todo-add {
      padding: 7.5px 15px;
    }

    .add-button {
      font-size: 1.1rem;
      padding: 12px 20px;
    }

    .todo-buttons button,
    #delete-all {
      font-size: 0.8rem;
    }

    #task-input {
      font-size: 1.1rem;
    }

    .todo-input {
      height: 60px;
    }

    #task-input {
      height: 60px;
    }

    #date-input {
      height: 45px;
    }

    ::-webkit-calendar-picker-indicator {
      padding: 3px;
    }

    thead th {
      font-size: 1rem;
    }

    tbody #images img:nth-child(1) {
      width: 20px;
    }

    tbody #images img:nth-child(2) {
      width: 24px;
    }

    tbody #images img:nth-child(3) {
      width: 26px;
    }
  }

  @media (max-width: 800px) {
    body {
      margin: 20px;
    }

    #hamburgure h1 {
      font-size: 2rem;
      margin-bottom: 40px;
      font-family: cursive;
    } 

    .todo-buttons button {
      display: none;
    }

    .todo-input {
      /* flex-direction: column; */
      margin-bottom: 70px;
      height: 0;
    }

    .todo-add {
      width: 100px;
      border-radius: 5px;
      background-color: #03071e;
    }

    .add-button, .edit-button {
      /* background-color: #f4acb7; */
      background-color: rgba(245, 12, 160, 0.5);
      font-size: 0.9rem;
      padding: 11px 15px;
      width: 100%;
      border-radius: 10px;
      color: #43dde2;
      font-family: cursive;
      margin: 0;
    }

    #task-input {
      height: 40px;
      width: 100%;
      padding: 20px 10px;
      /* border-radius: 0; */
      border-radius: 5px;
      color: #43dde2;
      /* color: #03071e; */
      font-size: 0.9rem;
      font-weight: 400;
    }

    #date-input {
      height: 35px;
      border-radius: 5px;
      display: none;
    }

    .todo-add {
      /* margin: 10px 0; */
      padding: 0 10px;
    }

    .todo-add button {
      border-radius: 5px;
    }

    thead tr th {
      width: 80%;
      text-align: left;
    }

    thead tr th:last-child {
      text-align: center; 
      width: 20%;
    }

    tbody td {
      font-size: 0.9rem;
      text-align: left;
    }

    tbody td:last-child {
      text-align: right;
      width: 20%;
    }

    tbody td:first-child {
      width: 80%;
    }

    thead tr th:nth-child(2) {
      display: none;
    }

    #images img {
      margin-right: 5px;
    }

    #images img:last-child {
      margin-right: 0;
    }

    thead tr th:nth-child(3) {
      display: none;
    }

    tbody tr td:nth-child(2) {
      display: none;
    }

    tbody tr td:nth-child(3) {
      display: none;
    }

    #hamburger-img {
      display: block;
    }
}
}
