*,
*:before,
*:after {
  padding: 0;
  margin: o;
  box-sizing: border-box;
}
body {
  background-color: #030000;
  height: 100vh;
  font-family: sans-serif; 
  color: #fff;
  width: 1000px;
  margin: auto; 
}

#todo-container {
  box-shadow: 0px 0px 13px 17px rgba(31,32,36,0.75);
-webkit-box-shadow: 0px 0px 13px 17px rgba(31,32,36,0.75);
-moz-box-shadow: 0px 0px 13px 17px rgba(31,32,36,0.75);
  
 padding: 2px 20px 30px;
  margin: 40px auto;
  border-radius: 8px;
}

h1 {
  font: bolder 40px "Lucida Sans", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", Arial, sans-serif;
  letter-spacing: -3px;
  background: linear-gradient(to right, #f50ca0, #43dde2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

#todo-tasks {
  width: 50%;
  height: 80px;
  background-color: #1f2024;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: gray;
  font-size: 20px;
  font-weight: 500;
}

.todo-input {
display: flex;
align-items: center;
height: 80px;
  background-color: rgb(31, 32, 36);
  border-radius: 10px;
}

.todo-add {
  width: 50%;
  display: flex;
align-items: center;
justify-content: flex-end;
margin-right: 15px;
}

#date-input {
  height: 56px;
  padding: 3px 10px;
  background-color: #030000;
  color: #dfd7bf;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
}

::-webkit-calendar-picker-indicator {
  background-color: #fff;
  padding: 5px;
  margin-left: -10px;
  border-radius: 5px;
}

.add-button {
  background-color: #030000;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  margin-left: 20px; 
}

.todo-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-buttons button{
  background-color: rgb(31, 32, 36);
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #1f2024;
  color: #fff;
  font-weight: 600;
}

#delete-all {
 background-color: #1f2024;
 color: #303030;
 color: #fff;
 font-weight: 600;
 font-size: 1rem;
}

table {
  width: 100%;
}

thead {
  background: linear-gradient(to right, #f50ca0, #43dde2);
  font-size: 1.1rem;
}

thead th {
  padding: 10px;
color: black;
}

thead th:first-child {
  border-top-left-radius: 10px;
}

thead th:last-child {
  border-top-right-radius: 10px;
}

tbody td {
  background-color: var(--color-task);
  padding: 5px 10px;
  text-align: center;
}

tbody td button {
  padding: 4px 8px;
  margin: 2px 5px;
}

tbody td button:nth-child(1) {
  background-color: var(--color-warning);
}

tbody td button:nth-child(2) {
  background-color: var(--color-success);
}

tbody td button:nth-child(3) {
  background-color: var(--color-error);
}












