*,
*:before,
*:after {
  padding: 0;
  margin: o;
  box-sizing: border-box;
}
body {
  background-color: #0a0908;
  height: 100vh;
  font-family: sans-serif;
  color: #f8f9fa;
  max-width: 1000px;
  margin: auto;
  font-family: "Raleway-Regular";
}

#todo-container {
  border-radius: 8px;
}

#hamburgure h1 {
  font-family: "Raleway-Black";
  font: bolder;
  font-size: 40px;
  /* background: linear-gradient(to right, #f50ca0, #43dde2); */
  background: linear-gradient(to right, #ffea00, #43aa8b, #fd151b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

#task-input {
  width: 50%;
  height: 80px;
  background-color: rgb(31, 32, 36);
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fef5ea;
  font-size: 20px;
  font-weight: 500;
}

.todo-input {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: rgb(31, 32, 36);
  border-radius: 10px;
  margin-bottom: 15px;
  /* border: 1px solid white; */
}

.todo-add {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;
  /* border: 1px solid white; */
}

#date-input {
  height: 56px;
  padding: 3px 10px;
  background-color: #0a0908;
  color: #fef5ea;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
}

#date-input:hover {
  background-color: rgba(3, 0, 0, 0.6);
}

::-webkit-calendar-picker-indicator {
  background-color: #fef5ea;
  padding: 5px;
  margin-left: -10px;
  border-radius: 5px;
}

.add-button {
  background-color: #0a0908;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #fef5ea;
  cursor: pointer;
  margin-left: 20px;
  border: none;
}

.add-button:hover {
  background-color: rgba(3, 0, 0, 0.6);
}

.todo-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-buttons button {
  background-color: rgb(31, 32, 36);
  color: #fef5ea;
  padding: 10px 15px;
  /* border-radius: 10px; */
  font-size: 1rem;
  cursor: pointer;
  border: none;
  margin-right: 5px;
}

.todo-buttons button:hover {
  background-color: rgba(31, 32, 36, 0.6);
}

#delete-all {
  background-color: #1f2024;
  color: #303030;
  color: #fef5ea;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 0;
}

#delete-all:hover {
  background-color: rgba(31, 32, 36, 0.6);
}

table {
  width: 100%;
}

thead {
  color: gray;
}

thead th {
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid;
  border-image: linear-gradient(to right, #ffea00, #43aa8b, #fd151b) 1;
}

tbody {
  width: 100%;
}

tbody td {
  border: 1px solid rgb(31, 32, 36);
  padding: 8px 10px;
  text-align: center;
  width: 25%;
}

#images {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  margin-right: 15px;
  cursor: pointer;
}

tbody #images img:nth-child(1) {
  width: 23px;
}

tbody #images img:nth-child(2) {
  width: 28px;
}

tbody #images img:nth-child(3) {
  width: 30px;
}

.show-alert {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.alert {
  width: 100%;
  text-align: center;
  color: #0b090a;
  font-weight: 700;
  border-radius: 5px;
  padding: 8px;
}

.alert-success {
  background-color: #43aa8b;
}

.alert-error {
  background-color: rgba(253, 21, 27, 0.7);
}

.edit-button {
  background-color: #0b090a;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #fef5ea;
  cursor: pointer;
  margin-left: 20px;
  border: none;
  display: none;
}

#hamburgure {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#hamburgure img {
  width: 50px;
  margin-right: 0;
}

#hamburgure-items {
  background-color: rgba(31, 32, 36);
  background: linear-gradient(#ffea00, #43aa8b, #fd151b);
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
  width: 300px;
  padding: 30px 15px 30px;
  position: absolute;
  right: 0;
  top: 80px;
  display: none;
}

#hamburgure-items button {
  display: inline-block;
  color: #333;
  background-color: rgba(31, 32, 36, 0);
  padding: 10px 15px;
  /* border-radius: 10px; */
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  margin-bottom: 25px;
  text-align: left;
  transition: all 0.3s ease-in;
}

#hamburgure-items button:hover {
  background-color: rgba(10, 9, 8, 0.8);
  color: #f8f9fa;
}
