:root {
  color-scheme: only light;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #03071e;
  height: 100vh;
  font-family: sans-serif;
  color: #f8f9fa;
  max-width: 1000px;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#todo-container {
  border-radius: 8px;
  border: 1px solid rgb(31, 32, 36);
  padding: 0 10px 20px;
  margin-top: 30px;
}

#hamburgure h1 {
  font-family: cursive;
  font: bolder;
  font-size: 40px;
  background: linear-gradient(to right, #f50ca0, #43dde2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin: 15px 0;
  color-scheme: only light;
}

.todo-input {
  width: auto;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 25px;
}

#task-input {
  width: 100%;
  background-color: #ffc8dd;
  padding: 25px 15px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
  color: rgba(3, 7, 30, 0.8);
  font-size: 20px;
  font-weight: 500;
}

::placeholder {
  color: rgba(3, 7, 30, 0.8);
  font-style: italic;
  font-size: 1.1rem;
}

.todo-add {
  /* background-color: rgba(245, 12, 160, 0.5); */
  background-color: #ffc8dd;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10.5px 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#date-input {
  background-color: rgb(3, 7, 30);
  padding: 12px 10px;
  color: #43dde2;
  font-size: 1.1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

#date-input:hover {
  background-color: rgbش(3, 7, 30, 0.5);
}

::-webkit-calendar-picker-indicator {
  background-color: #43dde2;
  padding: 5px;
  margin-left: -10px;
  border-radius: 5px;
}

.add-button {
  background-color: #03071e;
  padding: 14px 20px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bolder;
  color: #43dde2;
  cursor: pointer;
  margin-left: 15px;
  border: none;
}

.todo-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-buttons button {
  background-color: rgb(3, 7, 30);
  border: 1px solid rgb(31, 32, 36);
  color: gray;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 5px;
}

.todo-buttons button:hover {
  background-color: rgba(3, 7, 30, 0.5);
}

.delete-all {
  background-color: #1f2024;
  color: #303030;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 0;
}

.delete-all:hover {
  background-color: rgba(31, 32, 36, 0.6);
}

table {
  width: 100%;
}

thead {
  color: gray;
}

thead th {
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  border: 1px solid;
  border-image: linear-gradient(to right, #f50ca0, #43dde2) 1;
}

tbody {
  width: 100%;
}

tbody td {
  padding: 12px 10px;
  text-align: center;
  width: 25%;
  border: 1px solid rgb(31, 32, 36);
}

tbody td:nth-child(1) {
  width: 60%;
}

tbody td:nth-child(2) {
  width: 20%;
}

tbody td:nth-child(3) {
  width: 20%;
}

#images {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  margin-right: 15px;
  cursor: pointer;
}

tbody #images img:nth-child(1) {
  width: 23px;
}

tbody #images img:nth-child(2) {
  width: 26px;
}

tbody #images img:nth-child(3) {
  width: 29px;
}

.show-alert {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.alert {
  width: 100%;
  text-align: center;
  color: #0b090a;
  font-weight: 700;
  /* border-radius: 5px; */
  padding: 8px;
}

.alert-success {
  background-color: #43aa8b;
}

.alert-error {
  background-color: rgba(253, 21, 27, 0.7);
}

.edit-button {
  background-color: #03071e;
  padding: 16px 20px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bolder;
  color: #43dde2;
  cursor: pointer;
  margin-left: 15px;
  border: none;
  display: none;
}

#hamburgure {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#hamburger-img {
  width: 50px;
  margin-right: 0;
  display: none;
}

.hamburger-items {
  background-color: #ffc8dd;
  width: auto;
  position: absolute;
  right: 0;
  top: 71px;
  display: none;
  padding: 8px;
  border-radius: 5px;
  z-index: 5;
}

.display {
  display: block;
}

.hamburger-items button {
  width: 100px;
  border-radius: 5px;
  color: #f1faee;
  background-color: rgb(3, 7, 30);
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  text-align: left;
  transition: all 0.3s ease-in;
  display: block;
}

.hamburger-items button:hover {
  background-color: rgba(3, 7, 30, 0.8);
  color: #f8f9fa;
}

.customPh {
  width: 50%;
  position: relative;
  /* border: 1px solid red; */
}

.customPh label {
  position: absolute;
  top: 25px;
  left: 10px;
  color: gray;
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 550;
  font-family: monospace;
}
